:root {
    --font-sans-serif: Raleway, sans-serif;
    --black-basic: #000;
    --black-gray-dark: #101117;
    --black-gray: #14151D;
    --gray-dark: #55586B;
    --gray: #9DA0B2;
    --gray-light: #CFD0D6;
    --purple: #7348D5;
    --blue: #4B92E3;
    --teal: #62B8B8;
    --pink: #D166A5;
    --orange: #D94F36;
    --yellow-dark: #C7AF28;
    --green: #45A36C;
}

html {
    box-sizing: border-box;
  }
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }

   /**Typography Defaults**/ 
   /**Humane By Design Website uses the font Graphik.  
   It is a paid font so I am substituting with the font Raleway**/

body {
  font-family: var(--font-sans-serif);
  color: var(--gray);
  line-height: 1.667;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-sans-serif);
  color: var(--gray-light);
  line-height: 1.2;
}

h1 {
  font-size: 2em;
  margin: 0;
  display: block;
}

p {
  display: block;
}

img {
  display: block;
}

img:not(:root) {
  overflow: hidden;
}


a {
  background-color: transparent;
  color: var(--gray);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--gray);
}

.div {
  display: block;
}

.main {
  display: block;
  background: var(--black-gray-dark);
  padding-bottom: 4.5em;
  overflow: hidden;
}

/**Container**/

.container--lrg {
  max-width: 70em;
}

@media (min-width: 64em) {
  .container {
    padding: 0 3em;
  }
}

.container {
  margin: 0 auto;
}



/**Hidden**/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/**Header**/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  line-height: 2.4em;
  background: var(--black-gray-dark);
  opacity: 90%;
}

.header__content {
  display: flex;
  justify-content: space-between;
  position: relative;
}

/**Nav**/
.header-nav {
  display: block;
  position: static;
  z-index: 4;
  width: 100%;
  height: auto;
  background: none;
  color: var(--gray-light);
}

.header-nav ul {
  padding-left: 0;
  margin: 0;
}

.header-nav__list {
  list-style: none;
  text-decoration: none;
  font-size: 1.3rem;
  display: flex;
  justify-content: start;
}

.header-nav__list a{
  color: var(--gray-light);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

/**Nav**/

.header__link {
  background: none;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.header__link-active a {
  color: var(--gray-light);
  cursor: pointer;
  border-bottom: .025rem solid var(--gray-light);
}

.header__link-active a:hover {
  color: var(--gray);
}

.header__link a {
  color: var(--gray-light);
}

.header__link a:hover {
  color: var(--gray);
}

/**Page Hero**/
.page-hero__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 1.5em;
  position: relative;
  z-index: 2;
  padding-top: 11.4em;
}

.page-hero {
  position: relative;
  z-index: 1;
  margin: 0 0 4.5em;
}

/**Page Hero Contents**/
.page-hero__icon img {
  width: 120px;
  height: 120px;
  margin-bottom: 3em;
}

.page-hero__header {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  margin: 0 0 1.5em;
}

.page-hero__header-title {
  font-size: 5em;
  font-weight: 600;
  line-height: 1;
}

.page-hero__body {
  position: relative;
  top: .5em;
  grid-column: 2/3;
  grid-row: 2/3;
  max-width: 100%;
  font-size: 1.3em;
  color: var(--gray);
}

.page-hero__body-p {
  margin: 0;
}

/**Grid**/
@media (min-width: 35em) {
  .grid {
    display: grid;
    grid-column-gap: 1.5em;
  }
}

@media (min-width: 64em) {
  .grid{
    grid-template-columns: repeat(3,1fr);
  }
}

/**Card**/
.card {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1.5em;
  background-color: var(--black-gray);
  border-top: 3px solid;
  transition: box-shadow .3s cubic-bezier(.645, .045, .355, 1);
  min-width: 0;
}

.card .is-visible {
  opacity: 1;
  animation: d .6s cubic-bezier(.645, .045, .355, 1)forwards;
}

/**Card Contents**/
.card__link {
  display: block;
  height: 100%;
  padding: 0 1.5em;
  text-decoration: none;
}

.card__icon {
  position: absolute;
  width: 80px;
  height: 80px;
  margin-top: 1.5em;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  opacity: 1;
}

.card__media {
  padding: 3em;
  opacity: 0;
}

.card__media img {
  margin: 0 auto;
}

/**Card Header**/
.card__header {
  position: relative;
}

.card__label {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.2;
}

.card__header-icon {
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;width: 1.5em;
  height: 1.5em;
}

.card__header img {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  transition: fill .3s cubic-bezier(.645, .045, .355, 1);
}

/**Card Colors**/
.card--empowering {
  border-color: var(--purple);
}

.card--finite {
  border-top: 4px solid var(--blue);
}

.card--inclusive {
  border-top: 4px solid var(--teal);
}

.card--resilient {
  border-top: 4px solid var(--pink);
}

.card--respectful {
  border-top: 4px solid var(--orange);
}

.card--thoughtful {
  border-top: 4px solid var(--yellow-dark);
}

.card--transparent {
  border-top: 4px solid var(--green);
}

/**Card Hover**/
/**Card1**/
#card1:hover #cardicon1 {
  opacity: 0;
}

#card1:hover #cardmedia1 {
  opacity: 1;
}

#card1:hover #cardheadericon1 {
  opacity: 1;
}

/**Card2**/
#card2:hover #cardicon2 {
  opacity: 0;
}

#card2:hover #cardmedia2 {
  opacity: 1;
}

#card2:hover #cardheadericon2 {
  opacity: 1;
}

/**Card3**/
#card3:hover #cardicon3 {
  opacity: 0;
}

#card3:hover #cardmedia3 {
  opacity: 1;
}

#card3:hover #cardheadericon3 {
  opacity: 1;
}

/**Card4**/
#card4:hover #cardicon4 {
  opacity: 0;
}

#card4:hover #cardmedia4 {
  opacity: 1;
}

#card4:hover #cardheadericon4 {
  opacity: 1;
}

/**Card5**/
#card5:hover #cardicon5 {
  opacity: 0;
}

#card5:hover #cardmedia5 {
  opacity: 1;
}

#card5:hover #cardheadericon5 {
  opacity: 1;
}

/**Card6**/
#card6:hover #cardicon6 {
  opacity: 0;
}

#card6:hover #cardmedia6 {
  opacity: 1;
}

#card6:hover #cardheadericon6 {
  opacity: 1;
}

/**Card6**/
#card7:hover #cardicon7 {
  opacity: 0;
}

#card7:hover #cardmedia7 {
  opacity: 1;
}

#card7:hover #cardheadericon7 {
  opacity: 1;
}

/**Footer**/
.footer {
  position: relative;
  z-index: 2;
  padding: 1.5em 0;
  background-color: var(--black-gray);
  display: block;
}

.footer__container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/**Social List**/
.social {
  display: inline-block;
  display: flex;
}

.social__item {
  list-style: none;
  margin-right: 1.5em;
}

.social__item:hover {
  cursor: pointer;
  fill: var(--gray);
}







