:root {
    --font-sans-serif: Raleway, sans-serif;
    --black-basic: #000;
    --black-gray-dark: #101117;
    --black-gray: #14151D;
    --gray-dark: #55586B;
    --gray: #9DA0B2;
    --gray-light: #CFD0D6;
    --purple: #7348D5;
    --blue: #4B92E3;
    --teal: #62B8B8;
    --pink: #D166A5;
    --orange: #D94F36;
    --yellow-dark: #C7AF28;
    --green: #45A36C;
}

html {
    box-sizing: border-box;
  }
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }

   /**Typography Defaults**/ 
   /**Humane By Design Website uses the font Graphik.  
   It is a paid font so I am substituting with the font Raleway**/

body {
  font-family: var(--font-sans-serif);
  color: var(--gray);
  line-height: 1.667;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-sans-serif);
  color: var(--gray-light);
  line-height: 1.2;
}

h1 {
  font-size: 2em;
  margin: 0;
  display: block;
}

p {
  display: block;
}

img {
  display: block;
}

a {
  color: var(--gray);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--gray);
}

.div {
  display: block;
}

.main {
  display: block;
  background: var(--black-gray-dark);
  overflow: hidden;
}

/**Container**/

.container--lrg {
  max-width: 80em;
}

.container {
  padding: 0 3em;
  margin: 0 auto;
}

/**Hidden**/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/**Header**/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  line-height: 2.4em;
  background: var(--black-gray-dark);
  opacity: 90%;
}

.header__content {
  display: flex;
  justify-content: space-between;
  position: relative;
}

/**Nav List**/
.header-nav {
  background: var(--black-gray-dark);
}

.header-nav__list {
  list-style: none;
  text-decoration: none;
  font-size: 1.3rem;
  display: flex;
}
.header-nav__list a{
  color: var(--gray-light);
  padding-right: 2.1rem;
  display: flex;
  justify-content: space-between;
  justify-items: left;
}

/**Nav**/

.header__link {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.header__link-active a {
  color: var(--gray-light);
  cursor: pointer;
}

.header__link-active a:hover {
  border-bottom-style: solid white;
}

.header__link a {
  color: var(--gray-light);
}

.header__link a:hover {
  color: var(--gray);
}

/**Hero**/
.page-hero {
  position: relative;
  z-index: 1;
  margin: 0 0 4.5em;
}

.page-hero__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 1.5em;
  position: relative;
  z-index: 2;
  padding-top: 11.4em;
}

.page-hero__icon img {
  width: 136px;
  height: 136px;
}

.page-hero__header {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  margin: 0 0 1.5em;
}

.page-hero__header-title {
  font-size: 5.063em;
  font-weight: 600;
  line-height: 1;
}

.page-hero__body {
  position: relative;
  top: .5em;
  grid-column: 2/3;
  grid-row: 2/3;
  max-width: 100%;
  font-size: 1.3em;
  color: var(--gray);
}

.page-hero__body-p {
  margin: 0;
}

/**Grid**/
.grid .container {
  max-width: 40em;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 0;
  flex-basis: 32%;
}

/**Card**/

.card {
  display: block;
  width: 300px;
  height: 350px;
  padding: 16px;
  background: #14151d;
  text-align: left;
  border-top: 4px solid var(--purple);
}

.card__icon {
  max-width: 30%;
  padding-top: 10px;
}

.card__label{
  color: #CFD0D6;
  margin-left: 0;
  padding-top: 65%;
}

.card--finite {
  border-top: 4px solid var(--blue);
}

.card--inclusive {
  border-top: 4px solid var(--teal);
}

.card--resilient {
  border-top: 4px solid var(--pink);
}

.card--respectful {
  border-top: 4px solid var(--orange);
}

.card--thoughtful {
  border-top: 4px solid var(--yellow-dark);
}

.card--transparent {
  border-top: 4px solid var(--green);
}

/**Footer**/

.footer {
  position: relative;
  padding: 2em 6em;
  background-color: var(--black-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}

/**Social List**/
.social {
  display: inline-block;
  display: flex;
}

.social__item {
  list-style: none;
  margin-right: 1.5em;
}







