<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Humane By Design</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main_components.css">
    <link href="css/main_components.css" rel="stylesheet">
</head>
<body class="component-page">

    <!--Sidebar Header-->

    <header class="component-page__header">

        <div class="component-page__header-container">

            <img src="./img/hero__logo2.png" class="component-page__header-logo" alt="main logo">

            <h2 class="component-page__header-website-name">Humane By Design</h2>

    <!--Sidebar Nav-->

        <nav class="sidebar-nav component-page__nav">

            <!--Sidebar Nav Section Typography-->

            <section class="sidebar-nav__section">

                <h2 class="sidebar-nav__heading"><a href="#typography">Typography</a></h2>

                <ul class="sidebar-nav__list">
                    <li><a href="#typography">body</a></li>
                    <li><a href="#headings">h1, h2, h3, ....</a></li>
                </ul>

            </section>

            <!--Sidebar Nav Section Atoms-->

            <section class="sidebar-nav__section">

                <h2 class="sidebar-nav__heading"><a href="#atoms">Atoms</a></h2>

                <ul class="sidebar-nav__list">
                    <li><a href="#hero__logo">hero__logo</a></li>
                    <li><a href="#icons">icons</a></li>
                    <li><a href="#nav-button">nav-button</a></li>
                    <li><a href="#arrow-icon__action-link">arrow-icon__action-link</a></li>
                    <li><a href="#card-blank">card-blank</a></li>
                    <li><a href="#card">card</a></li>
                    <li><a href="#card__action-state">card__action-state</a></li>
                </ul>

            </section>

            <!--Sidebar Nav Section Page Header-->

            <section class="sidebar-nav__section">

                <h2 class="sidebar-nav__heading"><a href="#header">Header</a></h2>

                <ul class="sidebar-nav__list">
                    <li><a href="#header">header</a></li>
                </ul>

            </section>

            <!--Sidebar Section Main Nav-->

            <section class="sidebar-nav__section">

                <h2 class="sidebar-nav__heading"><a href="#header-nav">Main Nav</a></h2>

                <ul class="sidebar-nav__list">
                    <li><a href="#header-nav">main-nav</a></li>
                    <li><a href="#header-nav__list">main-nav__list</a></li>
                </ul>

            </section>

            <!--Sidebar Section Cover-->

            <section class="sidebar-nav__section">

                <h2 class="sidebar-nav__heading"><a href="#cover-section">Page Hero</a></h2>

                <ul class="sidebar-nav__list">
                    <li><a href="#page-hero">page-hero</a></li>
                    <li><a href="#page-hero__contents">page-hero__contents</a></li>
                </ul>

            </section>

            <!--Sidebar Section Cards-->

            <section class="sidebar-nav__section">

                <h2 class="sidebar-nav__heading"><a href="#cards-section">Cards Section</a></h2>
                
                <ul class="sidebar-nav__list">
                    <li><a href="#card-section">card-section</a></li>
                    <li><a href="#card-section__action-state">card-section__action-state</a></li>
                </ul>

            </section>

            <!--Sidebar Section Cards-->
            
            <section class="sidebar-nav__section">

                <h2 class="sidebar-nav__heading"><a href="#footer">Page Footer</a></h2>

                <ul class="sidebar-nav__list">
                    <li><a href="#footer">page-footer</a></li>
                    <li><a href="#social-list">social-list</a></li>
                    <li><a href="#footer__contents">page-footer__contents</a></li>
                </ul>

            </section>
        </nav>
        </div>
    </header>

    <!--Components-->

    <main class="container component-page__main">

        <h1 class="component-page__main-title">Web Components</h1>

        <p class="component-page__intro">This is a collection of components based on my study of the design system of the
            <a href="https://humanebydesign.com/" class="website-link">Humane By Design Website</a></p>

        <!--Page Section Typography-->

        <section class="page-section" id="typography">

            <h2 class="component-page__section-heading">Typography</h2>

            <!--Body-copy-->

            <article class="component" id="body-copy"> 

                <h3 class="component__name">body</h3>

                <div class="component__img">
                    <img 
                    srcset="./img/body-copy.png 2x"
                    src="./img/body-copy.png" 
                    alt="website body image">
                </div>

                <!--Body-copy Code-->

                <div class="component__code">

                    <p>A resource that provides guidance for designing ethically
                    humane digital products through patterns focused on user well-being.</p>

                </div>

            </article>

            <!--Headings-->

            <article class="component" id="headings"> 

                <h3 class="component__name">headings h1, h2, ...</h3>

                <div class="component__img">
                    <img 
                    srcset="./img/h1.png 2x" 
                    src="./img/h1.png" 
                    alt="h1">
               
                    <img 
                    srcset="./img/h2.png 2x"
                    src="./img/h2.png" 
                    alt="h2">
                </div>

                <!--Headings Code-->

                <div class="component__code">
                    <h1>Humane By Design</h1>
                    <h2>Empowering</h2>
                </div>

            </article>
        </section>

        <!--Atoms-->

        <section class="page-section" id="atoms">

            <h2 class="component-page__section-heading">Atoms</h2>

            <!--Logo-->

            <article class="component" id="hero__logo"> 

                <h3 class="component__name">hero__logo</h3>

                <div class="component__img">
                    <img 
                    srcset="./img/hero__logo.png 2x" 
                    src="./img/hero__logo.png" 
                    alt="logo">
                </div>

                <!--Logo Code-->

                <div class="component__code">
                    <img 
                    srcset="./img/hero__logo.png 2x" 
                    src="./img/hero__logo.png" 
                    alt="logo">
                </div>

            </article>

            <!--Logo-->

            <article class="component" id="icons"> 

                <h3 class="component__name">icons</h3>

                <div class="component__img card-icons">
                    <img 
                    srcset="./img/card-icon1.png 2x" 
                    src="./img/card-icon1.png" 
                    alt="icon1">

                    <img 
                    srcset="./img/card-icon2.png 2x" 
                    src="./img/card-icon2.png" 
                    alt="icon2">

                    <img 
                    srcset="./img/card-icon3.png 2x" 
                    src="./img/card-icon3.png" 
                    alt="icon3">

                    <img 
                    srcset="./img/card-icon4.png 2x" 
                    src="./img/card-icon4.png" 
                    alt="icon4">

                    <img 
                    srcset="./img/card-icon5.png 2x" 
                    src="./img/card-icon5.png" 
                    alt="icon5">

                    <img 
                    srcset="./img/card-icon6.png 2x" 
                    src="./img/card-icon6.png" 
                    alt="icon6">

                    <img 
                    srcset="./img/card-icon7.png 2x" 
                    src="./img/card-icon7.png" 
                    alt="icon7">

                    <img 
                    srcset="./img/arrow-icon__right.png 2x" 
                    src="./img/arrow-icon__right.png" 
                    alt="arrow icon pointing right">

                    <img 
                    srcset="./img/arrow-icon__up.png 2x" 
                    src="./img/arrow-icon__up.png" 
                    alt="arrow icon pointing up">
                </div>

                <!--Icons Code-->

                <div class="component__code card-icons">
                    <img 
                    srcset="./img/card-icon1.png 2x" 
                    src="./img/card-icon1.png" 
                    alt="icon1">

                    <img 
                    srcset="./img/card-icon2.png 2x" 
                    src="./img/card-icon2.png" 
                    alt="icon2">

                    <img 
                    srcset="./img/card-icon3.png 2x" 
                    src="./img/card-icon3.png" 
                    alt="icon3">

                    <img 
                    srcset="./img/card-icon4.png 2x" 
                    src="./img/card-icon4.png" 
                    alt="icon4">

                    <img 
                    srcset="./img/card-icon5.png 2x" 
                    src="./img/card-icon5.png" 
                    alt="icon5">

                    <img 
                    srcset="./img/card-icon6.png 2x" 
                    src="./img/card-icon6.png" 
                    alt="icon6">

                    <img 
                    srcset="./img/card-icon7.png 2x" 
                    src="./img/card-icon7.png" 
                    alt="icon7">

                    <img 
                    src="./img/icons/icons8-right-24.png" 
                    alt="arrow icon pointing right">

                    <img 
                    src="./img/icons/icons8-up-24.png" 
                    alt="arrow icon pointing up">
                </div>

            </article>

            <!--Nav Button-->

            <article class="component" id="nav-button"> 

                <h3 class="component__name">nav-button</h3>

                <div class="component__img">
                    <img 
                    srcset="./img/nav-button.png 2x" 
                    src="./img/nav-button.png" 
                    alt="nav button">
                </div>

                <!-- Nav Button Code-->

                <div class="component__code">
                    <ul class="header-nav__list">
                        <li class="header__link"><a href="#!">Principles</a></li>
                    </ul>
                </div>

            </article>

            <!--Arrow Icon Action Link-->

            <article class="component" id="arrow-icon__action-link"> 

                <h3 class="component__name">arrow-icon__action-link</h3>

                <div class="component__img">
                    <img 
                    srcset="./img/arrow-icon__right.png 2x" 
                    src="./img/arrow-icon__right.png" 
                    alt="arrow icon right">

                    <img 
                    srcset="./img/arrow-icon__up.png 2x" 
                    src="./img/arrow-icon__up.png" 
                    alt="arrow icon up">
                </div>

                <!--Arrow Icon Action Link Code-->

                <div class="component__code arrow-icon__link">
                   <a href="#"><img src="./img/icons/icons8-right-24.png" alt="right arrow link"></a>
    
                    <a href="#"><img src="./img/icons/icons8-up-24.png" alt="up arrow link"></a>
                </div>

            </article>

            <!--Card Blank-->

            <article class="component" id="card-blank"> 

                <h3 class="component__name">card-blank</h3>

                <div class="component__img">
                    <img 
                    srcset="./img/card-blank.png 2x" 
                    src="./img/card-blank.png" 
                    alt="blank card">
                </div>

                <!--Card Code-->

                <div class="component__code">
                    <div class="card">
                    <!--This is a blank card-->
                    </div>
                </div>

            </article>

            <!--Card-->

            <article class="component" id="card"> 

                <h3 class="component__name">card</h3>

                <div class="component__img">
                    <img 
                    srcset="./img/card.png 2x" 
                    src="./img/card.png" 
                    alt="card">
                </div>

                <!--Card Code-->

                <div class="component__code">
                    <section>
                        <h2 class="visuallyhidden">Empowering</h2>
                        <div class="grid container container--lrg">
                            <!--Card1-->
                            <article class="card card--empowering is-visible" id="card1">
                                <a href="https://humanebydesign.com/principles/empowering" title="Empoweing" class="card__link">
                                    <div class="card__icon" id="cardicon1">
                                        <img src="./img/card-icon1.png" alt="empowering icon">
                                    </div>
                                    <div class="card__media" id="cardmedia1">
                                        <img 
                                        srcset="./img/card-icon__hover1.png 2x"
                                        src="./img/card-icon__hover1.png" alt="empovering hover icon">
                                    </div>
                                    <header class="card__header">
                                        <h3 class="card__label">Empowering</h3>
                                        <div class="card__header-icon" id="cardheadericon1">
                                            <img src="https://img.icons8.com/fluent-systems-regular/24/ffffff/right--v1.png" class="icon" alt="right arrow">
                                        </div>
                                    </header>
                                </a>
                            </article>
                        </div>
                    </section>
                </div>
            </article>

            <!--Card Action State-->

            <article class="component" id="card__action-state"> 

                <h3 class="component__name">card__action-state</h3>

                <div class="component__img">
                    <img 
                    srcset="./img/card__action-state.png 2x" 
                    src="./img/card__action-state.png" 
                    alt="card">
                </div>

                <!--Card Code-->

                <div class="component__code">
                    <section>
                        <h2 class="visuallyhidden">Finite</h2>
                        <div class="grid container container--lrg">
                            <!--Card2-->
                            <article class="card card--finite is-visible" id="card2">
                                <a href="https://humanebydesign.com/principles/finite/" title="Finite" class="card__link">
                                    <div class="card__icon" id="cardicon2">
                                        <img src="./img/card-icon2.png" alt="finite icon">
                                    </div>
                                    <div class="card__media" id="cardmedia2">
                                        <img 
                                        srcset="./img/card-icon__hover2.png 2x"
                                        src="./img/card-icon__hover2.png" alt="finite hover icon">
                                    </div>
                                    <header class="card__header">
                                        <h3 class="card__label">Finite</h3>
                                        <div class="card__header-icon" id="cardheadericon2">
                                            <img src="https://img.icons8.com/fluent-systems-regular/24/ffffff/right--v1.png" class="icon" alt="right arrow">
                                        </div>
                                    </header>
                                </a>
                            </article>
                        </div>
                    </section>
                </div>
            </article>
        </section>

        <section class="page-section" id="header">

            <h2 class="component-page__section-heading">Header</h2>

            <!--Header-->

            <article class="component"> 

                <h3 class="component__name">header</h3>

                <div class="component__img">
                    <img 
                    srcset="./img/header.png 2x"
                    src="./img/header.png" 
                    alt="image of the page header">
                </div>

                <!--Header Code-->

                <div class="component__code">
                    <header class="header">
                            <nav class="header-nav">
                                <ul class="header-nav__list">
                                    <li class="header__link-active"><a href="#!">Principles</a></li>
                                    <li class="header__link"><a href="#!">Resources</a></li>
                                    <li class="header__link"><a href="#!">Info</a></li>
                                </ul>
                            </nav>
                    </header>
                </div>
            </article>
        </section>

        <section class="page-section" id="header-nav">

            <h2 class="component-page__section-heading">Header Nav</h2>

            <!--Header Nav-->

            <article class="component"> 

                <h3 class="component__name">header-nav</h3>

                <div class="component__img">
                    <img 
                    srcset="./img/header-nav.png 2x"
                    src="./img/header-nav.png" 
                    alt="image of the main navigation">
                </div>

                <!--Header Nav Code-->
                <!--Forgot how to make a nav toggle?-->

                <div class="component__code">
                    <nav class="header-nav">
                        <ul class="header-nav__list">
                            <li class="header__link-active"><a href="#!">Principles</a></li>
                            <li class="header__link"><a href="#!">Resources</a></li>
                            <li class="header__link"><a href="#!">Info</a></li>
                        </ul>
                    </nav>
                </div>
            </article>
        
            <!--Main Nav List-->

            <article class="component" id="header-nav__list"> 

                <h3 class="component__name">header-nav__list</h3>

                <div class="component__img">
                    <img 
                    srcset="./img/header-nav__list.png 2x"
                    src="./img/header-nav__list.png" 
                    alt="image of the main navigation list">
                </div>

                <!--Main Nav List Code-->

                <div class="component__code">
                    <ul class="header-nav__list">
                        <li class="header__link"><a href="#!">Principles</a></li>
                        <li class="header__link"><a href="#!">Resources</a></li>
                        <li class="header__link"><a href="#!">Info</a></li>
                    </ul>
                </div>
            </article>
        </section>

        <section class="page-section" id="page-hero">

            <h2 class="component-page__section-heading">Page Hero</h2>

            <!--Page Hero-->

            <article class="component"> 

                <h3 class="component__name">page-hero</h3>

                <div class="component__img">
                    <img 
                    srcset="./img/page-hero.png 2x"
                    src="./img/page-hero.png" 
                    alt="image of the page hero">
                </div>

                <!--Page Hero Code-->

                <div class="component__code">
                    <section class="page-hero">
                        <article class="intro">
                            <img 
                            srcset="./img/hero__logo.png 2x" 
                            src="./img/hero__logo.png"
                            class="intro__logo" 
                            alt="logo">
                            <h2 class="intro__title">Humane by Design</h2>
                        </article>
                        <article class="page-hero__intro-body-copy">
                            <p>A resource that provides guidance for designing ethically
                                humane digital products through patterns focused on user well-being.</p>
                        </article>
                    </section>
                </div>
            </article>

            <!--Page Hero Contents-->

            <article class="component" id="page-hero__contents"> 

                <h3 class="component__name">page-hero__contents</h3>

                <div class="component__img">
                    <img 
                    srcset="./img/page-hero__intro-title.png 2x"
                    src="./img/page-hero__intro-title.png" 
                    alt="image of the page hero intro title">

                    <img 
                    srcset="./img/body-copy.png 2x"
                    src="./img/body-copy.png" 
                    alt="image of the page hero intro body copy">
                </div>

                <!--Page Hero Contents Code-->

                <div class="component__code">
                    <article class="intro">
                        <img 
                        srcset="./img/hero__logo.png 2x" 
                        src="./img/hero__logo.png" 
                        class="intro__logo"
                        alt="logo">
                        <h2 class="intro__title">Humane by Design</h2>
                    </article>
                    <article class="intro__body-copy">
                        <p>A resource that provides guidance for designing ethically
                            humane digital products through patterns focused on user well-being.</p>
                    </article>
                </div>
            </article>
        </section>

        <section class="page-section" id="card-section">

            <h2 class="component-page__section-heading">Card Section</h2>

            <!--Card Section-->

            <article class="component"> 

                <h3 class="component__name">card-section</h3>

                <div class="component__img">
                    <img 
                    srcset="./img/card-section.png 2x"
                    src="./img/card-section.png" 
                    alt="image of the card section">
                </div>

                <!--Card Section Code-->

                <div class="component__code">
                    <section>
                        <div class="grid container">
                            <article class="card card--empowering">
                                <img src="./img/card-icon1.png" class="card__icon" alt="icon">
                                <h2 class="card__label">Empowering</h2>
                            </article>
                            <article class="card card--finite">
                                <img src="./img/card-icon2.png" class="card__icon" alt="icon">
                                <h2 class="card__label">Finite</h2>
                            </article>
                            <article class="card card--inclusive">
                                <img src="./img/card-icon3.png" class="card__icon" alt="icon">
                                <h2 class="card__label">Inclusive</h2>
                            </article>
                            <article class="card card--resilient">
                                <img src="./img/card-icon4.png" class="card__icon" alt="icon">
                                <h2 class="card__label">Resilient</h2>
                            </article>
                            <article class="card card--respectful">
                                <img src="./img/card-icon5.png" class="card__icon" alt="icon">
                                <h2 class="card__label">Respectful</h2>
                            </article>
                            <article class="card card--thoughtful">
                                <img src="./img/card-icon6.png" class="card__icon" alt="icon">
                                <h2 class="card__label">Thoughtful</h2>
                            </article>
                            <article class="card card--transparent">
                                <img src="./img/card-icon7.png" class="card__icon" alt="icon">
                                <h2 class="card__label">Transparent</h2>
                            </article>
                        </div>
                    </section>
                </div>
            </article>

            <!--Card Section Active State-->

            <article class="component" id="card-section__action-state"> 

                <h3 class="component__name">card-section__action-state</h3>

                <div class="component__img">
                    <img 
                    src="./img/card-section__active-state.png" 
                    alt="image of the card section in active state">
                </div>

                <!--Card Section Active State Code-->

                <div class="component__code">
                    <section>
                        <div class="grid container">
                            <article class="card card--empowering">
                                <img src="./img/card-icon1.png" class="card__icon" alt="icon">
                                <h2 class="card__label">Empowering</h2>
                            </article>
                            <article class="card card--finite">
                                <img src="./img/card-icon2.png" class="card__icon" alt="icon">
                                <h2 class="card__label">Finite</h2>
                            </article>
                            <article class="card card--inclusive">
                                <img src="./img/card-icon3.png" class="card__icon" alt="icon">
                                <h2 class="card__label">Inclusive</h2>
                            </article>
                            <article class="card card--resilient">
                                <img src="./img/card-icon4.png" class="card__icon" alt="icon">
                                <h2 class="card__label">Resilient</h2>
                            </article>
                            <article class="card card--respectful">
                                <img src="./img/card-icon5.png" class="card__icon" alt="icon">
                                <h2 class="card__label">Respectful</h2>
                            </article>
                            <article class="card card--thoughtful">
                                <img src="./img/card-icon6.png" class="card__icon" alt="icon">
                                <h2 class="card__label">Thoughtful</h2>
                            </article>
                            <article class="card card--transparent">
                                <img src="./img/card-icon7.png" class="card__icon" alt="icon">
                                <h2 class="card__label">Transparent</h2>
                            </article>
                        </div>
                    </section>
                </div>
            </article>
        </section>

        <section class="page-section" id="footer">

            <h2 class="component-page__section-heading">Footer</h2>

            <!--Page Footer-->

            <article class="component"> 

                <h3 class="component__name">footer</h3>

                <div class="component__img">
                    <img 
                    srcset="./img/footer.png 2x"
                    src="./img/footer.png" 
                    alt="image of the page footer">
                </div>

                <!--Footer Code-->

                <div class="component__code">
                    <footer class="footer">
                        <div class="social-list">
                            <ul class="social">
                                <li class="social__item">
                                    <img src="./img/icons/icons8-twitter-24.png" alt="Twitter icon">
                                </li>
                                <li class="social__item">
                                    <img src="./img/icons/icons8-facebook-24.png" alt="Facebook icon">
                                </li>
                                <li class="social__item">
                                    <img src="./img/icons/icons8-linkedin-24.png" alt="LinkenIn icon">
                                </li>
                            </ul>
                        </div>
                            <a href="#top" class="footer__top">
                                <img src="./img/icons/icons8-up-24.png" class="icon" alt="back to top">
                            </a>
                    </footer>
                </div>
            </article>

            <!--Social List-->

            <article class="component" id="social-list"> 

                <h3 class="component__name">social-list</h3>

                <div class="component__img">
                    <img 
                    srcset="./img/social-list.png 2x"
                    src="./img/social-list.png" 
                    alt="image of the social list">
                </div>

                <!--Footer Code-->

                <div class="component__code">
                    <ul class="social">
                        <li class="social__item">
                            <img src="./img/icons/icons8-twitter-24.png" alt="Twitter icon">
                        </li>
                        <li class="social__item">
                            <img src="./img/icons/icons8-facebook-24.png" alt="Facebook icon">
                        </li>
                        <li class="social__item">
                            <img src="./img/icons/icons8-linkedin-24.png" alt="LinkenIn icon">
                        </li>
                    </ul>
                </div>
            </article>

            <!--Social List-->

            <article class="component" id="footer__contents"> 

                <h3 class="component__name">footer__contents</h3>

                <div class="component__img">
                    <img 
                    srcset="./img/arrow-icon__up.png 2x"
                    src="./img/arrow-icon__up.png" 
                    alt="image of the up arrow icon link to the top of the page">
                </div>

                <!--Footer Code-->

                <div class="component__code">
                    <a href="#">
                        <img src="./img/icons/icons8-up-24.png" class="icon" alt="back to top">
                    </a>
                </div>
            </article>
        </section>
        <div>
            <a href="https://icons8.com/icons">Icons8</a>
        </div>
    </main>
</body>
</html>