<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Humane By Design</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
    <h1>Web Components</h1>

    <h2>Typography Defaults</h2>

    <article class="component"> 
        <h3 class="component__title">Hero</h3>
        <img 
        srcset="img/hero.png 2x"
        src="img/hero.png" 
        alt="hero image">
    </article>

    <div class="component__code">
        A resource that provides guidance for designing ethically
        humane digital products through patterns focused on user well-being.
    </div>
</body>
</html>